# Carregamento das bibliotecas

In [1]:
import pandas as pd
import re

# Carregamento dos dataframes

In [2]:
# Carregamento e criação dos dataframes

df_netflix = pd.read_csv('C:/Users/Falcone/Documents/PastaDrive/ProcessosCadidatura/Coodesh/AnaliseTitulosNetflixAmazon/data/netflix_titles.csv')
df_amazon = pd.read_csv('C:/Users/Falcone/Documents/PastaDrive/ProcessosCadidatura/Coodesh/AnaliseTitulosNetflixAmazon/data/amazon_prime_titles.csv')
df_all = pd.concat([df_netflix, df_amazon])
print(f'Quantidade de linhas -  df_neflix: {len(df_netflix)}, df_amazon: {len(df_amazon)}, df_all: {len(df_all)}')
print('\n\n                                         ____Tabela com TODOS os dados____')
df_all

Quantidade de linhas -  df_neflix: 8807, df_amazon: 9668, df_all: 18475


                                         ____Tabela com TODOS os dados____

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [3]:
# Copia dos dataframes para serem manipulados
df_netflix1 = df_netflix.copy()
df_amazon1 = df_amazon.copy()
df_all1 = df_all.copy()

# Questão 1 - Top 10 atores/atrizes considerando todos os dados

In [4]:
## TODOS OS DADOS - ALL

# Limpeza dos dados - Preencher valores NaN com string vazia
df_all1['cast'] = df_all1['cast'].fillna('')  

# Separação dos artistas informados na coluna 'cast' utilizando o separador virgula (,) 
# Criaçao de listas de artistas para cada linha
lista_artistas = df_all1['cast'].str.split(', ')

# Criação de uma lista única com todos os artistas 
todos_artistas = []
for sublista in lista_artistas:
    for artista in sublista:
        if artista.strip() != '':
            todos_artistas.append(artista)
            
# Expressão regular para filtrar apenas os nomes (sem números), pois foram encontrados alguns números 
# nas informaçoes da coluna 'cast'
somente_artistas = []
for nome in todos_artistas:
    if re.sub(r'\d', '', nome).strip() != '':
        somente_artistas.append(re.sub(r'\d', '', nome).strip())

# Transformaçao do tipo lista em series
series_artistas = pd.Series(somente_artistas)

# 10 artistas mais famosos (maior numero de vezes encontrado na lista participaçao)
contagem_series_artistas = series_artistas.value_counts()
contagem_series_artistas.head(10)

Anupam Kher         59
Maggie Binkley      56
Amitabh Bachchan    47
Shah Rukh Khan      46
Nassar              43
Akshay Kumar        41
Naseeruddin Shah    39
Danny Trejo         39
Paresh Rawal        39
Om Puri             35
dtype: int64

# Questão 2 - Top 5 países produtores de conteúdos considerando todos os dados e comparando as duas plataformas

In [5]:
## TODOS OS DADOS - ALL
# Limpeza dos dados - Preencher valores NaN com string vazia
df_all1['country'] = df_all1['country'].fillna('')  

# Separação dos países informados na coluna 'country' utilizando o separador virgula (,) 
# Criaçao de listas de países para cada linha
lista_paises = df_all1['country'].str.split(', ')

# Criação de uma lista única com todos os países 
todos_paises = []
for sublista in lista_paises:
    for pais in sublista:
        if pais.strip() != '':
            todos_paises.append(pais)
            
# Transformaçao do tipo lista em series
series_paises = pd.Series(todos_paises)

# 10 artistas mais famosos (maior numero de vezes encontrado na lista participaçao)
contagem_series_paises = series_paises.value_counts()
print('Top 5 paises produtores considerando TODOS os dados:')
print(contagem_series_paises.head(5))


## NETFLIX
# Limpeza dos dados - Preencher valores NaN com string vazia
df_netflix1['country'] = df_netflix1['country'].fillna('')  

# Separação dos países informados na coluna 'country' utilizando o separador virgula (,) 
# Criaçao de listas de países para cada linha
lista_paises_netflix = df_netflix1['country'].str.split(', ')

# Criação de uma lista única com todos os países 
todos_paises_netflix = []
for sublista in lista_paises_netflix:
    for pais in sublista:
        if pais.strip() != '':
            todos_paises_netflix.append(pais)
            
# Transformaçao do tipo lista em series
series_paises_netflix = pd.Series(todos_paises_netflix)

# 10 artistas mais famosos (maior numero de vezes encontrado na lista participaçao)
contagem_series_paises_netflix = series_paises_netflix.value_counts()
print('\nTop 5 paises produtores considerando somente os dados da NETFLIX:')
print(contagem_series_paises_netflix.head(5))


## AMAZON
# Limpeza dos dados - Preencher valores NaN com string vazia
df_amazon1['country'] = df_amazon1['country'].fillna('')  

# Separação dos países informados na coluna 'country' utilizando o separador virgula (,) 
# Criaçao de listas de países para cada linha
lista_paises_amazon = df_amazon1['country'].str.split(', ')

# Criação de uma lista única com todos os países 
todos_paises_amazon = []
for sublista in lista_paises_amazon:
    for pais in sublista:
        if pais.strip() != '':
            todos_paises_amazon.append(pais)
            
# Transformaçao do tipo lista em series
series_paises_amazon = pd.Series(todos_paises_amazon)

# 10 artistas mais famosos (maior numero de vezes encontrado na lista participaçao)
contagem_series_paises_amazon = series_paises_amazon.value_counts()
print('\nTop 5 paises produtores considerando somente os dados da AMAZON:')
print(contagem_series_paises_amazon.head(5))

Top 5 paises produtores considerando TODOS os dados:
United States     4023
India             1292
United Kingdom     871
Canada             480
France             413
dtype: int64

Top 5 paises produtores considerando somente os dados da NETFLIX:
United States     3689
India             1046
United Kingdom     804
Canada             445
France             393
dtype: int64

Top 5 paises produtores considerando somente os dados da AMAZON:
United States     334
India             246
United Kingdom     67
Canada             35
France             20
dtype: int64

In [6]:
# Obs: Os resultados acima do Top 5 paises produtores nos dados da Amazon estão muito baixos, comparativamente com os dados da Netflix e também considerando o tamanho do dataset da Amazon.
# Portanto, para tentar entender o motivo, iremos avaliar a quantidade de linhas nulas ou NaN em cada coluna dos datasets originais
print('**Investigação dos baixos valores encontrados nos resultados de Top 5 paises produtores nos dados da Amazon**')
print('\nValores nulos (percentual) encontrados nos datasets originais:')
print('\n    __Dataset NETFLIX__')
print(df_netflix.isnull().sum() / len(df_netflix['show_id'])*100)
print('\n    __Dataset AMAZON__')
print(df_amazon.isnull().sum() / len(df_amazon['show_id'])*100)
print('\nCom base nesse resultado, podemos concluir que os valores baixos observados no resultado dos Top 5 paises produtores nos dados da Amazon, são resultado do grande número de linhas nulas encontrados na coluna "country" - 93% de dados nulos.')

**Investigação dos baixos valores encontrados nos resultados de Top 5 paises produtores nos dados da Amazon**

Valores nulos (percentual) encontrados nos datasets originais:

    __Dataset NETFLIX__
show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

    __Dataset AMAZON__
show_id          0.000000
type             0.000000
title            0.000000
director        21.534961
cast            12.753413
country         93.049235
date_added      98.396773
release_year     0.000000
rating           3.485726
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64

Com base nesse resultado, podemos concluir que os valores baixos observados no resultado dos Top 5 paises produtores nos dados da Amazon, são resultado do grande número de linhas nulas encontrados na coluna "country" - 93% de dados nulos.

# Questao 3 - Mês no qual há mais adições de filmes na plataforma Netflix

In [7]:
## NETFLIX

# Limpeza dos dados - Preencher valores NaN com string vazia
df_netflix1['date_added'] = df_netflix1['date_added'].fillna('')  

# Filtrar apenas por filmes
df_movies_netflix = df_netflix1.loc[df_netflix1['type'] == 'Movie']

# Separação dos meses informados na coluna 'date_added' utilizando o separador virgula (,) 
# Criaçao de listas de datas para cada linha
lista_datas_netflix = df_movies_netflix['date_added'].str.split(', ')

# Criação de uma lista única com todos as datas
todas_datas_netflix = []
for sublista in lista_datas_netflix:
    for data in sublista:
        if data.strip() != '':
            todas_datas_netflix.append(data)

# Expressão regular para filtrar apenas os meses (sem números)
somente_meses_netflix = []
for nome in todas_datas_netflix:
    if re.sub(r'\d', '', nome).strip() != '':
        somente_meses_netflix.append(re.sub(r'\d', '', nome).strip())
            
# Transformaçao do tipo lista em series
series_meses_netflix = pd.Series(somente_meses_netflix)

# Mês com maior produçao de FILMES
contagem_series_meses_netflix = series_meses_netflix.value_counts()
print('MES no qual há mais adições de FILMES na plataforma Netflix:')
print(contagem_series_meses_netflix.head(5).index[0])

MES no qual há mais adições de FILMES na plataforma Netflix:
July

# Questão 4 - Quantidade de filmes listados como comédia.

In [8]:
## TODOS OS DADOS - ALL

# Nao é necessário prencher valores nulos pois eles nao existem na coluna 'listed_in' de acordo com o resultado da celula 6

# Filtrar apenas por filmes - Iremos utilizar o dataframe já gerado na celula anterior
df_movies = df_all1.loc[df_all1['type'] == 'Movie']

# Separação dos gêneros informados na coluna 'listed_in' utilizando o separador virgula (,) 
# Criaçao de listas de gêneros para cada linha
lista_generos = df_movies['listed_in'].str.split(', ')

# Criação de uma lista única com todos as menções a comédia
todas_comedias = []
contador_comedias = 0
for sublista in lista_generos:
    for genero in sublista:
        if genero.strip() != '' and genero == 'Comedy' or genero == 'Comedies':
            todas_comedias.append(genero)
            contador_comedias += 1
print('Quantidade de FILMES listados como COMÉDIA:')
print(contador_comedias)

Quantidade de FILMES listados como COMÉDIA:
3495

# Questão 5 - Lista de todos os gêneros de filmes.

In [9]:
# Considerando a lista_generos da celula acima

# Criação de uma lista única com todos os gêneros
todos_generos = []
for sublista in lista_generos:
    for genero in sublista:
        if genero.strip() != '':
            todos_generos.append(genero)

# Transformaçao do tipo lista em series
series_generos = pd.Series(todos_generos)

# Lista de todos os gêneros de FILMES
print('Lista de todos os gêneros de filmes:')
series_generos.unique()

Lista de todos os gêneros de filmes:

array(['Documentaries', 'Children & Family Movies', 'Dramas',
       'Independent Movies', 'International Movies', 'Comedies',
       'Thrillers', 'Romantic Movies', 'Music & Musicals',
       'Horror Movies', 'Sci-Fi & Fantasy', 'Action & Adventure',
       'Classic Movies', 'Anime Features', 'Sports Movies', 'Cult Movies',
       'Faith & Spirituality', 'LGBTQ Movies', 'Stand-Up Comedy',
       'Movies', 'Comedy', 'Drama', 'International', 'Action', 'Suspense',
       'Documentary', 'Fantasy', 'Kids', 'Special Interest',
       'Science Fiction', 'Adventure', 'Horror', 'Sports', 'Arts',
       'Entertainment', 'and Culture', 'Music Videos and Concerts',
       'Fitness', 'Faith and Spirituality', 'Military and War', 'Western',
       'LGBTQ', 'Animation', 'Young Adult Audience', 'Arthouse', 'Anime',
       'Romance', 'Talk Show and Variety', 'Historical', 'Unscripted'],
      dtype=object)

# Questão 6 - A frequência de "TV Show" de todos os dados e comparativamente em relação as duas plataformas

In [10]:
# Filtrar por filmes - Todos (All)
df_tv_all = df_all.loc[df_all['type'] == 'TV Show']
# Filtrar por filmes - Netflix
df_tv_netflix = df_netflix.loc[df_netflix['type'] == 'TV Show']
# Filtrar por filmes - Amazon
df_tv_amazon = df_amazon.loc[df_amazon['type'] == 'TV Show']
# Impressão dos resultados
print(f'Frequencia de "TV Show" de TODOS os dados: {len(df_tv_all)}')
print(f'Frequencia de "TV Show" dos dados da NETFLIX: {len(df_tv_netflix)}')
print(f'Frequencia de "TV Show" dos dados da AMANZON: {len(df_tv_amazon)}')

Frequencia de "TV Show" de TODOS os dados: 4530
Frequencia de "TV Show" dos dados da NETFLIX: 2676
Frequencia de "TV Show" dos dados da AMANZON: 1854

# Questão 7 - A frequência de "Movies" de todos os dados e comparativamente em relação as duas plataformas

In [11]:
# Filtrar por filmes - Todos (All)
df_movies_all = df_all.loc[df_all['type'] == 'Movie']
# Filtrar por filmes - Netflix
df_movies_netflix = df_netflix.loc[df_netflix['type'] == 'Movie']
# Filtrar por filmes - Amazon
df_movies_amazon = df_amazon.loc[df_amazon['type'] == 'Movie']
# Impressão dos resultados
print(f'Frequencia de "Movies" de TODOS os dados: {len(df_movies_all)}')
print(f'Frequencia de "Movies" dos dados da NETFLIX: {len(df_movies_netflix)}')
print(f'Frequencia de "Movies" dos dados da AMANZON: {len(df_movies_amazon)}')

Frequencia de "Movies" de TODOS os dados: 13945
Frequencia de "Movies" dos dados da NETFLIX: 6131
Frequencia de "Movies" dos dados da AMANZON: 7814